.pill,
.v-application .pill {
  display: inline-block;
  padding: .2em .6em;

  font-size: $font-size-small;
  color: $color-white;
  text-decoration: none;
  border-radius: 1em;
  box-shadow: inset 0 0 0 1px $color-white-alpha;
  transition: box-shadow .1s linear;

  &:hover {
    box-shadow: inset 0 0 0 1px $color-white;
  }

  &.pill--active {
    background-color: $color-white;
    color: $color-black;
  }
}

.pill--blue,
.v-application .pill--blue {
  background-color: $color-blue;
  box-shadow: none;
  transition: background-color .1s linear;

  &:hover {
    background-color: $color-blue-light;
    box-shadow: none;
  }
}
