@font-face {
	font-family: 'Readex Pro';
	src: url('../fonts/ReadexPro-VariableFont_wght.woff2') format('woff2 supports variations'),
       url('../fonts/ReadexPro-VariableFont_wght.woff2') format('woff2-variations');
	font-weight: 200 700;
  font-display: fallback;
  font-style: normal;
}
