body {
  overflow: hidden;
}

.layout-section {
  padding-right: $space-default;
  padding-left: $space-default;
}

.layout-section--padded {
  padding-top: 50px;
  padding-bottom: 80px;

  @media screen and (min-width: $breakpoint-small) {
    padding-top: 100px;
    padding-bottom: 160px;
  }
}

.layout-section--padded-small {
  padding-top: 50px;
  padding-bottom: 80px;
}

.layout-section--force-lined,
.layout-section--lined + .layout-section--lined {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - #{$space-default * 2});
    max-width: $max-width-large;
    height: 1px;
    transform: translateX(-50%);
    background-color: $color-white-alpha;
  }
}

.layout-section--blue {
  background-color: $color-blue;
}

.layout-container {
  width: 100%;
  max-width: $max-width-large;
  margin-right: auto;
  margin-left: auto;
}

.layout-container--medium {
  max-width: $max-width-medium;
}
