// overwrites the default text color shipped by Vuetify
.theme--light.v-application {
  color: $color-black;
}

.theme--dark.v-application {
  color: $color-white;
}

.v-application {
  font-weight: $font-weight-normal;
}

.v-application .v-application--wrap ol,
.v-application .v-application--wrap ul {
  padding-left: 0;
  list-style: none;
}

.v-application .accent--text {
  color: $color-blue-light !important;
  caret-color: $color-blue-light !important;
}

.v-application .accent {
  background-color: $color-blue-light !important;
  border-color: $color-blue-light !important;
}