.project-share__input {
  flex: 1 1 auto;
  height: 36px;
  border: 1px solid $color-white-alpha;
  border-radius: $border-radius-small;
  padding: 0 $space-medium;
  color: $color-white;
  opacity: 0.6;
  font-size: $font-size-small;
}
