$social-share-duration: .2s;
$social-share-border-radius: 18px;
$social-share-size: 26px;

.social-share {
  display: flex;
  position: fixed;
  z-index: $layer-social-share;
  bottom: $space-default;
  left: $space-default;
  flex-direction: column;
  border-radius: $social-share-border-radius;
  background-color: $color-white;
}

.social-share__toggle {
  order: 2;
  padding: .4em $space-default;

  border-radius: $social-share-border-radius;
  color: $color-black;
}

.social-share__collapsible {
  order: 1;
  width: 100%;

  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0s $social-share-duration;

  .open & {
    visibility: visible;
    transition: visibility 0s 0s;
  }

  .social-share.open:not(.enhanced) & {
    height: auto;
  }
}

.social-share ul.social-share__options {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $space-default;
}

.social-share__options::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: $space-default;
  width: calc(100% - #{$space-default * 2});
  height: 1px;
  background-color: $color-black-alpha;
}

.social-share__option {
  display: block;
  width: $social-share-size;
  height: $social-share-size;

  text-decoration: none;
}

.social-share__hitarea {
  position: fixed;
  z-index: $layer-social-share;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
