.detail-hero {
  padding-top: 60px;

  @media screen and (min-width: $breakpoint-medium) {
    padding-top: 100px;
  }
}

.detail-hero__skeleton-loader {
  .v-skeleton-loader__heading {
    height: 60px;
    margin-bottom: $space-medium;
  }
}
