.detail-map {
  width: 100%;
  height: 465px;
}

.detail-map .mapboxgl-ctrl-attrib a {
  color: rgba(0,0,0,.75);
}

.detail-map__skeleton-loader {
  .v-skeleton-loader__image {
    height: 465px;
  }
}
