.reservoir-page-section {
  padding: $space-xlarge 0;
}

.reservoir-page-section .data-chart {
  height: 465px;
}

.reservoir-page-section__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
