.reservoir-list__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.reservoir-list__list-item {
  margin-top: .6em;
  margin-right: .6em;
}

.reservoir-list__button {
  background: $color-blue;
}

.reservoir-list__skeleton-loader {
  .v-skeleton-loader__text {
    height: 24px;
    width: 200px;
  }

  .v-skeleton-loader__chip {
    display: inline-block;
    height: 26px;
  margin-top: .6em;
  margin-right: .6em;
  }
}
