.cta-block {
  margin-top: $space-large;
  padding: $space-default;
}

.cta-block a.app-link {
  color: $color-white;
}

.cta-block__button {
  margin-top: $space-default;
  background-color: $color-blue;
}
