.card-item__top {
  display: grid;
  grid-template-areas: 'top';
}

.card-item__top-area {
  grid-area: top;
}

.card-item__tags {
  position: relative;
  align-self: start;
  justify-self: end;
  display: flex;
  align-items: center;
  padding: 3px;
}

.card-item__tags > li {
  margin-left: 3px;
}

.v-application .card-item__link {
  color: $color-white;
  text-decoration: none;
}

.card-item__title {
  margin-top: $space-medium;
}

.card-item__text {
  margin-top: 15px;
}

.card-item__author {
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: $space-medium;
  align-items: start;
  line-height: 1.2;
  text-align: left;
}

.card-item__author .p {
  display: block;
}

.card-item__author-image {
  overflow: hidden;
  border-radius: 100%;
}
