.message {
  display: flex;
  text-align: center;
  color: $color-white;
  align-items: center;
  justify-content: center;
}

.message p {
  margin: 0;
}

.message__icon {
  margin-right: 10px;
}

.message--error {
  color: red;
}
