@import "mapbox-gl-compare/dist/mapbox-gl-compare.css";

.comparison-map {
  margin: $space-xlarge 0;
}

.comparison-map__map-container {
  position: relative;
  width: 100%;
  height: 465px;
}

.comparison-map__detail-map {
  position: absolute !important;
  top: 0;
  bottom: 0;
  width: 100%;
}

.comparison-map__dates {
  display: flex;
  justify-content: space-between;
  margin-top: $space-medium;
}
