.newsletter-section__text {
  margin-top: $space-default;
  text-align: center;
}

.newsletter-section__form {
  max-width: 425px;
  margin-top: $space-xlarge;
  margin-right: auto;
  margin-left: auto;
}

.newsletter-section__email-text {
  margin-top: $space-medium;
}
