.app-header {
  display: none;
  position: sticky;
  z-index: $layer-header;
  top: 0;
  left: 0;
  padding: 15px $space-default;

  background: $color-white;
  color: $color-black;

  @media screen and (min-width: $breakpoint-small) {
    display: block;
  }

  @media screen and (min-width: $breakpoint-large) {
    padding: $space-medium $space-default;
  }
}

.app-header__navigation {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $breakpoint-small) {
    align-items: center;
  }
}

.app-header__home-link {
  display: block;
  width: 160px;

  @media screen and (min-width: $breakpoint-medium) {
    width: 220px;
  }

  @media screen and (min-width: $breakpoint-large) {
    width: 260px;
  }
}

.app-header__logo {
  display: block;
  width: 100%;
  height: auto;
}

ul.app-header__menu {
  padding-top: $space-default;
  padding-left: 0;
  list-style: none;

  @media screen and (min-width: $breakpoint-small) {
    padding-top: 0;
  }

  a.app-header__link {
    color: $color-black;
    text-decoration: none;
  }
}
