.tabs-section {
  display: block;
}

.tabs-section .v-tabs,
.tabs-section .theme--dark.v-tabs-items,
.tabs-section .theme--light.v-tabs-items {
  background-color: transparent;
}

.tabs-section .tabs-section__tab {
  padding: $space-default 0;

  @media screen and (min-width: $breakpoint-medium) {
    padding: $space-large;
  }
}

.tabs-section .v-tabs-items .container {
  padding: 0;
}

.tabs-section__tab .responsive-image,
.tabs-section__tab .responsive-video {
  padding: 0 0 $space-default;

  @media screen and (min-width: $breakpoint-medium) {
    padding: 0 $space-large 0 0;
  }
}

.tabs-section__tab .responsive-image {
  @media screen and (min-width: $breakpoint-medium) {
    perspective: 200px;
    perspective-origin: 50% 30%;
  }
}

.tabs-section__tab .responsive-image__img {
  @media screen and (min-width: $breakpoint-medium) {
    position: relative;
    transform: rotateY(2deg) translateZ(-10px);

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 10%;
      height: 20px;
      width: 80%;
      border-radius: 100%;
      box-shadow: 0 10px 30px rgba(black, .4);
    }
  }
}

.tabs-section__tab .structured-text {
  margin-top: $space-default;
}

.tabs-section__action {
  margin-top: $space-default;
  text-align: center;
}
