.app-footer {
  text-align: center;
}

.app-footer__inner {
  position: relative;
  padding-top: $space-xlarge;
  padding-bottom: $space-default;
}

.app-footer .h2 {
  margin-top: 40px;
}

.app-footer__wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.app-footer__flex-center {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-small) {
    flex-direction: row;
  }

  > * + * {
    margin-top: $space-medium;

    @media screen and (min-width: $breakpoint-small) {
      margin-top: 0;
      margin-left: $space-large;
    }
  }
}

.app-footer__bottom {
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;

  @media screen and (min-width: $breakpoint-small) {
    margin-bottom: 0;
  }
}

.app-footer .app-footer__legals {
  padding: 0;
  list-style: none;
}
